body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ca412f;
    color: rgb(2, 2, 2);
    padding: 20px;
    text-align: left;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.profile-container img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 0px solid #db6050;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills div {
    width: 45%;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact p {
    margin: 5px 0;
}

.social-media a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
   
}

.social-media a:hover {
    color: #db6050;
}
