/*documento css*/
* { font-size: 18px;}

body {background: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;}

    h1 {color: red;
        font-family: "Oswald", sans-serif;
        font-size:  3em;
        font-weight: 600;
        font-style: normal
    }

    h1{ text-align: center;
    text-transform: uppercase;;}

    h2 {color: blue;}

    ul{color: azure;}
    ol{color: azure;}
    dl{color: azure;}
    li{color: azure;}
    .colorazure {color: azure;}




    .contenido-de-parrafo{color: azure;
        font-weight: 300;
            line-height: 2em;
            border-bottom: 30px solid rgb(255, 0, 0);
}